<div class="user-profile">
  <div class="profile-photo">
    <img
      [src]="user.image || 'https://via.placeholder.com/150'"
      alt="Profile Photo"
    />
  </div>
  <div class="user-details">
    <h2>{{ user.firstName }} {{user.lastName}}</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Age:</strong> {{user.age}}</p>
    <p><strong>Role:</strong> {{user.role}}</p><br>
    <button (click)="showDetails(user.id)">Show Details</button>
  </div>
</div>