.title {
    color: rgb(29, 29, 14);
    background-color: rgb(171, 188, 191);
    font-size: 80px;
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
}

.user-list {
    border: 1px solid;
    background-color: #eff2f3;
}